<div class="container">
  

    <!-- <div class="col-2">
      <div class="user-details-container">
        <img class="user-image" src="https://randomuser.me/api/portraits/lego/3.jpg"/>
        <span class="user-title">{{vesselInfoForm.get('fullname').value}}</span>
        <p class="user-bio">{{vesselInfoForm.get('bio').value}}</p>
      </div>
    </div> -->

    
      
      <form [formGroup]="vesselInfoForm" (ngSubmit)="onSubmitUserDetails(vesselInfoForm.value)">
        <div class="row">
          <h2 class="section-title">New Vessels Onboarding</h2>
        </div>   
          
        <div class="row">
        <mat-form-field class="full-width">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="typesControl">
            <mat-optgroup *ngFor="let group of vesselsTypes" [label]="group.name"
                          [disabled]="group.disabled">
              <mat-option *ngFor="let t of group.vtype" [value]="t.value">
                {{t.viewValue}}
              </mat-option>
            </mat-optgroup>
          </mat-select>

        </mat-form-field>
        </div>

        <div class="row">
        <div class="col">
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="IMO N°" formControlName="IMO"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Name" formControlName="Name"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Flag" formControlName="Flag"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Year Built" formControlName="YearBuilt"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Shipyard" formControlName="Shipyard"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Owner" formControlName="Owner"  >
        </mat-form-field>

        </div>
        <div class="col">
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Operator" formControlName="Operator"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Class" formControlName="Class"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Atex">
            <mat-option *ngFor="let atx of atex" [value]="atx">
              {{ atx }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="AIS" formControlName="AIS"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="MMSI" formControlName="MMSI"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="GRT (mt)" formControlName="GRT"  >
        </mat-form-field>

      </div>
    
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="DWT (mt)" formControlName="DWT"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Capacity (m³)" formControlName="Capacity"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Length (m/ft)" formControlName="Length"  >
        </mat-form-field>
        

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Beam (m/ft)" formControlName="Beam"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Draft (m/ft)" formControlName="Draft"  >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="number" min="1" max="20" placeholder="N°. of Tanks (m/ft)" id = "nbr" formControlName="NoTanks"  >
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <ul >
          <li *ngFor='let in of counter(5) ;let i = index'>{{i}}</li>
      </ul>
      </mat-form-field>

        <div class="row">
          <div class="col">
            <mat-form-field>
              <ngx-mat-file-input formControlName="acceptfile" placeholder="Image" accept=".jpg" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
         
          <div class="col">
            <mat-form-field>
              <ngx-mat-file-input formControlName="acceptfile" placeholder="Technical Details" accept="'.pdf'" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          
          <div class="col">
            <mat-form-field>
              <ngx-mat-file-input formControlName="acceptfile" placeholder="Linearity" accept="'.pdf'" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          
          <div class="col">
            <mat-form-field>
              <ngx-mat-file-input formControlName="acceptfile" placeholder="Q88" accept="'.pdf'" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          
          <div class="col">
            <mat-form-field>
              <ngx-mat-file-input formControlName="acceptfile" placeholder="SIRE Report" accept="'.pdf'" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </div>
          



        </div>
        <div class="row">
          <button class="submit-btn" color="primary" mat-raised-button type="Save" [disabled]="!vesselInfoForm.valid">
            Submit
          </button>
        </div>
        
      </div>
      </form>


</div>
